@import url(https://fonts.bunny.net/css?family=arsenal:400,700,400i,700i);


* {
  outline: lime 1px solid;
  font-family: "arsenal";
  font-size: 24px;
  --t-yellow: #f6d17a;
  --t-red: #97463f;
  --t-blue: 41, 99, 165;
  --t-black: #3f3d4a;
  --t-grey: rgb(191, 191, 191);
  --t-green: #8EC469;
  --t-border-green: 115, 159, 84;
  --t-cheerio-red: 187, 28, 83;
}


.first-tab {
  margin: 1vh;  
  background-color: var(--t-yellow);
}

.second-tab {
  margin: 1vh;  
  background-color: var(--t-blue);
}

.third-tab {
  margin: 1vh;  
  background-color: var(--t-black);
}

.landing {
  background-color: blue;
}

.logo {
  position: relative;
  /* left: min(2vh, 1vh); */
  height: 75px;
}

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  flex-basis: auto;
  /* justify-content: auto; */
  
  padding-left: 5vh;
  padding-right: 5vh;
  height: 15vh;
  border-bottom: .3vh solid var(--t-black);
  /* background-color: var(--t-grey); */
  border-bottom-right-radius: 5vh;
  /* z-index: -2; */
  overflow: hidden;
  text-decoration: none;
}

.header-left{
  display: flex;
  font-size: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header-left > * {
  /* Spacing of things in the left part of the header */
  padding: .5vh;
}

.header-right {
  position: relative;
  display: flex;
  margin-left: auto;
  gap: .75vh;
  justify-content: flex-start;  
}

.hamburger {
  height: 45px;
}

.hamburger:hover {
  cursor: pointer;
}

.header-button {
  display: flex;
  margin-left: auto;
}

.links {
  position: relative;
  display: flex;
  align-items: right;
  justify-content: flex;
  gap: .5vh;
}

a {
  color: var(--t-black);
  text-decoration: none;
}

.links > a {
  position: relative;
  padding: .75vh;
  border-radius: 1vh;
  border: .25vh solid var(--t-black);
}

a[class*="header-"]::before {
  content: "";
  /* border-radius: 1vh; */
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: var(--t-green);
  transition: transform .5s ease;
  z-index: -1;
  transform: translateX(-100%);
}

div.links > a:hover::before {
  transform: translateX(0);
}

[class|=header]{
  overflow: hidden;
}

/* .leftSide {} */

.landing-page {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
}

.vl {
  position: relative;
  left: calc(1*100vw/3);
  /* top: 10%; */
  width: 0px;
  gap: 10vh;
  height: 80vh;
  border: var(--t-grey) solid 1px;
}

.rightSide {
  position: relative;
  left: calc(1*100vw/3);
  width: calc(2*100vw/3);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.outer-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25%;
  border-radius: 50%;
  --outer-circle-circumference: 35vh;
  height: var(--outer-circle-circumference);
  width: var(--outer-circle-circumference);
  background-color: #8EC469;
}

.inner-circle {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  height: 70%;
  width: 70%;
}

.bubbles {
  /* In order for inner-circle and bubbles to be on the same center, bubbles must be position: absolute */
  position: absolute;
  display: flex;
  flex-direction: row;
  --circumference-bubbles: calc(var(--outer-circle-circumference)*2);
  border-radius: 50%;
  height: var(--circumference-bubbles);
  width: var(--circumference-bubbles);
}

.footer {
  position: relative;
  display: flex;
  background-color: var(--t-grey);
  /* top: 50vh; */
}

@keyframes myOrbit1 {
  from {
    transform: rotate(0deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-360deg);
  }
}

@keyframes myOrbit2 {
  from {
    transform: rotate(90deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-90deg);
  }

  to {
    transform: rotate(450deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-450deg);
  }
}

@keyframes myOrbit3 {
  from {
    transform: rotate(180deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-180deg);
  }

  to {
    transform: rotate(540deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-540deg);
  }
}

@keyframes myOrbit4 {
  from {
    transform: rotate(270deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-270deg);
  }

  to {
    transform: rotate(630deg) translateX(calc(var(--outer-circle-circumference)*0.5)) rotate(-630deg);
  }
}

[class$="-bubble"]{
    position: relative;
    display: flex;
    flex-direction: column;
    --half: 50%;
    top: calc(40%);
    left: calc(50%);
    border-style: solid;
    border-width: 25px;
    background-color: white;
    font-size: small;
    text-align: center;
    justify-content: center;
    --bubble-circumference: calc(var(--outer-circle-circumference)/3);
    border-radius: 100%;
    width: var(--bubble-circumference);
    height: var(--bubble-circumference);
}

.project2-bubble{
  z-index: 1;
  border-color: rgba(var(--t-blue), 1.0);
  animation: myOrbit1 20s linear infinite;
}

.project1-bubble {
  z-index: 2;
  border-color: rgba(var(--t-blue), 0.7);
  /* animation: myOrbit2 20s linear infinite; */
}

.linkedin-bubble {
  z-index: 3;
  border-color: rgba(var(--t-blue), 1.0);
  /* animation: myOrbit3 20s linear infinite; */
}

.github-bubble {
  z-index: 4;
  border-color: rgba(var(--t-blue), 0.7);
  /* animation: myOrbit4 20s linear infinite; */
}

.bubbles:hover * {
  animation: none;
  /* animation-play-state: paused; */
}

.github-bubble:hover {
  border: rgba(var(--t-cheerio-red), 1.0) 25px solid;
  cursor: pointer;
}

.linkedin-bubble:hover {
  border: rgba(var(--t-cheerio-red), 1.0) 25px solid;
  cursor: pointer;
}

.project1-bubble:hover {
  border: rgba(var(--t-cheerio-red), 1.0) 25px solid;
  cursor: pointer;
}

.project2-bubble:hover {
  border: rgba(var(--t-cheerio-red), 1.0) 25px solid;
  cursor: pointer;
}