@import url(https://fonts.bunny.net/css?family=arsenal:400,700,400i,700i);



* {
  font-family: "arsenal";
  font-size: 24px;
  --t-yellow: #f6d17a;
  --t-red: #97463f;
  --t-blue: #2963a5;
  --t-black: #3f3d4a;
  --t-grey: rgb(191, 191, 191);
}

.landing-page {
  margin: 1vh;    
  background-color: var(--t-red);
}

.first-tab {
  margin: 1vh;  
  background-color: var(--t-yellow);
}

.second-tab {
  margin: 1vh;  
  background-color: var(--t-blue);
}

.third-tab {
  margin: 1vh;  
  background-color: var(--t-black);
}

.landing {
  background-color: blue;
}

.logo {
  position: relative;
  left: min(2vh, 1vh);
}

.header {
  display: flex;
  
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 5vh;
  height: 15vh;
  border-bottom: .3vh solid var(--t-black);
  background-color: var(--t-grey);
  border-bottom-right-radius: 5vh;

  overflow: hidden;
  text-decoration: none;
}

.links {
  text-decoration: none;
}

.footer {
  /* display: flex;   */
  background-color: var(--t-grey);
  top: 50vh;
}